<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/hillliam/" target="_blank">@hillliam</a></p>
<p><i class="fa fa-bitbucket fa-lg fa-fw"></i> <a href="https://bitbucket.org/hillliam/" target="_blank">@hillliam</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/liamhill1995" target="_blank">linkedin.com/in/liamhill1995</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:liam_chat@hotmail.com" target="_blank">liam_chat@hotmail.com</a></p>
